# OS / IDE
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/

# Build / temp
node_modules/
.vercel/
*.log

# Artefacts accidentels
*.png.png
sed??????
index.old.html
delete-locks.bat

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
